@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #202225;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* INDEX */

.indexWrapper {
  @apply max-w-full max-h-full m-0 block justify-center items-center
}

/* NAVBAR */

.navWrapper {
  @apply max-w-full bg-[#04111d] px-[1.2rem] py-[0.2rem] items-center h-[72px] sticky top-0 z-[110] transition-[top] duration-[0.5s] ease-[0s] flex md:flex justify-between;
}

.logoContainer {
  @apply mr-3;
}

.searchBar {
  @apply bg-[#363840] rounded-[0.8rem] hover:bg-[#4c505c] items-center  text-center;
}

.searchIcon {
  @apply text-[#8a939b] mx-3 font-bold text-lg;
}

.searchInput {
  @apply h-[2.6rem] w-full border-0 bg-transparent outline-0 ring-0 px-2 pl-0 text-[#e6e8eb] placeholder:text-[#8a939b];
}

.headerItems {
  @apply justify-end items-center;
}

.headerItem {
  @apply lg:px-4 md:px-3 font-bold text-[#c8cacd] hover:text-white cursor-pointer;
}

.headerIcon {
  @apply text-[#8a939b] text-3xl font-black lg:px-4 md:px-3 hover:text-white cursor-pointer;
}

.responsiveNav {
  @apply space-y-4 bg-[#04111d] px-3 py-2 left-0 top-[72px] z-[110] w-full absolute
}

/* HERO */

.heroContainer {
  @apply relative container justify-center items-center max-w-full my-2
}

.heroWrapper {
  @apply relative max-w-full my-2
}

.bgContainer {
  @apply before:content-[''] before:bg-red-500 before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[url('https://pbs.twimg.com/media/FHo7-W8VcAEnsNh?format=jpg&name=medium')] before:bg-cover before:bg-center before:opacity-30 before:blur;
}

.contentWrapper {
  @apply flex h-screen justify-center items-center lg:flex-row md:flex-row sm:text-center gap-12 mt-5 lg:mt-5 mb-5;
}

.copyContainer {
  @apply w-1/2 justify-center;
}

.title {
  @apply relative text-white lg:text-[46px] font-semibold flex mb-3;
}

.heroDescription {
  @apply text-[#8a939b] text-lg text-center lg:text-left mb-6
}

.ctaContainer {
  @apply flex lg:justify-start md:justify-center;
}

.accentedButton {
  @apply relative text-lg font-semibold lg:px-12 px-6 py-2 bg-[#2181e2] rounded-lg mr-5 text-white hover:bg-[#42a0ff] cursor-pointer mb-3 border-2 border-[#202225];
}

.button {
  @apply relative text-lg font-semibold lg:px-12 px-6 py-2 bg-[#363840] rounded-lg text-[#e4e8ea] hover:bg-[#4c505c] cursor-pointer mb-3 border-2 border-[#202225];
}

.cardContainer {
  @apply rounded-[3rem] justify-center items-center  hover:shadow-lg transform transition hover:-translate-y-2 mx-2;
}

.infoContainer {
  @apply h-20 bg-[#313338] p-4 rounded-b-lg flex items-center text-white;
}

.author {
  @apply flex flex-col justify-center ml-4;
}
 
.name {
    @apply flex
}
 
.infoIcon {
    @apply flex justify-end items-center flex-1 text-[#8a939b] text-2xl font-bold
}

.footerContainer {
  @apply bg-[#04111d] py-[0.2rem] items-center justify-center bottom-0 w-full relative;
}

.social {
  @apply items-center px-[1.2rem] pt-[0.4rem] text-center block;
}

.socialItem {
  @apply text-white hover:text-[#42a0ff] cursor-pointer px-[1.2rem];
}

.list {
  @apply flex py-[0.4rem] text-center justify-center;
}

.listItem {
  @apply text-white hover:text-[#42a0ff] cursor-pointer px-[1.2rem];
}

.copyright {
  @apply text-[#8a939b] text-center block mb-[0.4rem];
}

/* COLLECTIONS */

.collectionWrapper {
  @apply overflow-hidden
}

.bannerImageContainer {
  @apply h-[20vh] w-screen overflow-hidden flex justify-center items-center;
}

.bannerImage {
  @apply w-full object-cover;
}

.collectionInfoContainer {
  @apply w-full px-4;
}

.midRow {
  @apply w-full flex justify-center text-white;
}

.endRow {
  @apply w-full flex justify-end text-white;
}

.profileImg {
  @apply w-40 h-40 object-cover rounded-full border-2 border-[#202225] mt-[-4rem];
}

.socialIconsContainer {
  @apply flex text-3xl mb-[-2rem];
}

.socialIconsWrapper {
  @apply w-44;
}

.socialIconsContent {
  @apply flex container justify-between text-[1.4rem] border-2 rounded-lg px-2;
}

.socialIcon {
  @apply my-2 cursor-pointer;
}

.divider {
  @apply border-r-2;
}

.collectionTitle {
  @apply text-5xl font-bold mb-4;
}

.createdBy {
  @apply text-lg mb-4;
}

.statsContainer {
  @apply w-[44vw] flex justify-between py-4 border border-[#151b22] rounded-xl mb-4 items-center;
}

.collectionStat {
  @apply w-1/4;
}

.statValue {
  @apply text-3xl font-bold w-full flex items-center justify-center;
}

.ethLogo {
  @apply h-6 mr-2;
}

.statName {
  @apply text-lg w-full text-center mt-1;
}

/* NFT CARD */

.nftCardWrapper {
  @apply flex flex-wrap max-w-full items-center justify-center
}

.nftWrapper {
  @apply bg-[#303339] flex-auto w-[14rem] h-[22rem] my-10 mx-5 rounded-2xl overflow-hidden cursor-pointer border border-[#151b22] transition ease-[0] hover:-translate-y-1;
}

.imgContainer {
  @apply h-2/3 w-full overflow-hidden flex justify-center items-center;
}

.nftImg {
  @apply w-full object-contain;
}

.details {
  @apply p-3;
}

.info {
  @apply flex justify-between text-[#e4e8eb] drop-shadow-xl;
}
 
.infoLeft {
  @apply flex-wrap
} 

.collectionName {
  @apply font-semibold text-sm text-[#8a939b];
}

.assetName {
  @apply font-bold text-lg mt-2;
}
 
.infoRight {
  @apply text-right
} 

.priceTag {
  @apply font-semibold text-sm text-[#8a939b];
}

.priceValue {
  @apply flex items-center text-xl font-bold mt-2;
}

.cardEthLogo {
  @apply h-5 mr-2;
}

.likes {
  @apply text-[#8a939b] font-bold flex items-center w-full justify-end mt-3;
}

.likeIcon {
  @apply text-xl items-center justify-center;
}

/* NFT DETAIL */

.detailWrapper {
  @apply flex items-center justify-center text-[#e5e8eb] h-full
}

.detailContainer {
  @apply container p-6;
}

.detailTopContent {
  @apply flex;
}

.detailImgContainer {
  @apply mr-4;
}

.detailsContainer {
  @apply flex-[2] ml-4;
}

.topBar {
  @apply bg-[#303339] p-2 rounded-t-lg border-[#151c22] border;
}

.topBarContent {
  @apply flex items-center;
}

.likesCounter {
  @apply flex-1 flex items-center justify-end;
}

/* GENERAL DETAILS */

.generalWrapper {
  @apply flex;
}

.generalInfoContainer {
  @apply h-36 flex flex-col flex-1 justify-between mb-6;
}

.accent {
  @apply text-[#2081e2];
}

.generalNftTitle {
  @apply text-3xl font-extrabold;
}

.otherInfo {
  @apply flex;
}

.ownedBy {
  @apply text-[#8a939b] mr-4;
}

.generalLikes {
  @apply flex items-center text-[#8a939b];
}

.generalLikeIcon {
  @apply mr-1;
}

.actionButtonsContainer {
  @apply w-44;
}

.generalActionButtons {
  @apply flex container justify-between text-[1.4rem] border-2 rounded-lg;
}

.generalActionButton {
  @apply my-2 cursor-pointer;
}

.generalDivider {
  @apply border-r-2;
}

/* ITEM ACTIVITY */

.activityWrapper {
  @apply w-full mt-8 border border-[#151b22] rounded-xl bg-[#303339] overflow-hidden
}

.activityTitle {
  @apply bg-[#262b2f] px-6 py-4 flex items-center
}

.activityTitleLeft {
  @apply flex-1 flex items-center text-xl font-bold
}

.activityTitleIcon {
  @apply text-3xl mr-2
}

.activityTitleRight {
  @apply text-xl
}

.activityFilter {
  @apply flex items-center border border-[#151b22] mx-4 my-6 px-3 py-4 rounded-xl bg-[#363840]
}

.filterTitle {
  @apply flex-1
}

.tableHeader {
  @apply flex w-full bg-[#262b2f] border-y border-[#151b22] mt-8 px-4 py-1
}

.tableHeaderElement {
  @apply flex-[3]
}
/*
.activityEthLogo {
  @apply h-5 mr-2
}
*/
.eventItem {
  @apply flex px-4 py-5 font-medium
}

.event {
  @apply flex items-center flex-[3]
}

.eventIcon {
  @apply mr-2 text-xl
}

.eventName {
  @apply text-lg font-semibold
}

.eventPrice {
  @apply flex items-center flex-[3]
}

.eventPriceValue {
  @apply text-lg
}

.eventEthLogo {
  @apply h-5 mr-2
} 